* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: rgb(66, 9, 119);
    height: 100vh;
    width: 100vw;
}

.taskbar {
    background-color: rgb(20, 2, 93);
    height: 5vh; width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 2px solid white;
}

.tbar {
    font-size: 15px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(29, 5, 125);
    padding: 0.5px 15px;
    border: 1px solid white;
    border-radius: 10px;
}

#livebtn {
    background-color: white;
    color: black;
}

.plotting {
    width: 100vw; height: 95vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

#post-flight {
    display: none;
}

.plot-live, .plot {
    height: 43vh; width: 47vw;
    background-color: rgb(21, 1, 40);
    border: 1px solid white;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}