* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: rgb(66, 9, 119);
}

.taskbar {
    background-color: rgb(20, 2, 93);
    height: 30px; width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.tbar {
    font-size: 15px;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.5px 15px;
    border: 1px solid white;
    border-radius: 10px;
}

.widget {
    width: 100%; height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#message {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}